{
	"model_path": "/path/to/trained/model/model.t7",
	"praw_config": {
		"client_id": "SI8pN3DSbt0zor",
		"client_secret": "_xaxkj7HNh8kwg8e5t4m6KvSrbTI",
		"user_agent": "<platform>:DeepAnimePlotGenerator:v1.0.0 (by /u/<username>)"
	}
}
